{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container text-white pt-5">
 {% if request.resolver_match.url_name == 'signup' %}
        <h2 class=>회원가입</h2>
         <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary m-3" type="submit">가입하기</button>
    </form>
    {% else %}
        <h2>로그인</h2>
         <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary m-3" type="submit">로그인</button>
    </form>
    {% endif %}
    <div style="background-color: #141414; height:650px;"></div>
</div>
{% endblock content %}
