{% extends 'base.html' %}

{% block content %}


    <!-- MAIN CONTAINER -->
    <div class="container-fluid">
     <a class="d-flex flex-column justify-content-center align-items-center" href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/p1.PNG?raw=true"class="img-fluid max-width:" alt=""></a>
          <a class="btn btn-primary btn-lg mt-5" href="#">Let's Go</a>
      <div class="location" id="home">
        <h1>랜덤 추천</h1>
        <div id="carouselExampleIndicators" class="carousel slide carousel-multi-item" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">  
                {% for movie in movies_1 %}
    
                <a href="{% url 'movies:detail' movie.pk %}" ><img  src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="img-responsive" width = "15%" alt=""></a>
                
                {% endfor %}

            </div>
            <div class="carousel-item">
                {% for movie in movies_2 %}
                
                <a href="{% url 'movies:detail' movie.pk %}" ><img  src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="img-responsive" width = "15%" alt=""></a>
                
                {% endfor %}
              </div>
            <div class="carousel-item">
              {% for movie in movies_3 %}
  
              <a href="{% url 'movies:detail' movie.pk %}" ><img  src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="img-responsive" width = "15%" alt=""></a>
              
              {% endfor %}
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>

      <h1>인기</h1>
      <div class="box">
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o1.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o2.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o3.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o4.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o5.PNG?raw=true" alt=""></a>
        <a href=""><img src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/o6.PNG?raw=true" alt=""></a>                
      </div>

    </div>
 

<style>
.yourContainer {
      width: 500px;
    height: 170px;
}
.yourContainer img {
    max-width: 100%;
    max-height: 100%;
}
.main-container {
    padding: 50px;
  }
  
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box a {
    transition: transform .3s;  
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    border-radius: 2px;
  }
  
</style>
{% endblock %}